<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>{{ site.langs[page.lang].keep_in_touch }}:</h2>
				</div>
				<div class="col-lg-6">
					<ul class="list-inline banner-social-buttons">
						{% for social in site.social %}
						<li class="list-inline-item">
							<a href="{{ social.url }}" class="btn btn-light btn-lg"><i class="fab fa-{{ social.title }} fa-fw"></i><span class="network-name">{{ social.descr[page.lang] | default: social.title }}</span></a>
						</li>
						{% endfor %}
						<li class="list-inline-item">
							<a href="mailto:{{ site.email }}" class="btn btn-light btn-lg"><i class="fas fa-envelope fa-fw"></i><span class="network-name">{{ site.langs[page.lang].mail }}</span></a>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
