<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.langs[page.lang].description }}">
    <meta name="author" content="{{ site.author }}">

    <!-- Remove no-js class if we run JavaScript -->
    <script>
        document.documentElement.classList.remove("no-js");
    </script>

    <!-- Nice little favicon -->
    <link rel="icon" type="image/png" href="img/favicon.ico">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">
    <link href="css/language.css" rel="stylesheet">
    <link href="css/images.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <script src="https://kit.fontawesome.com/5d7274d9e3.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">

</head>
